@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&family=Handjet:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@300&family=Rajdhani:wght@500&family=Tourney:wght@100&family=Train+One&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
p {
  color: rgba(85, 85, 85);
}
nav,
.nav-links {
  display: flex;
}
nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}
.nav-links {
  list-style: none;
  gap: 2rem;
  font-size: 1.5rem;
  
}
a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}
a:hover {
  color: gray;
  text-decoration: none;
  text-underline-offset: 1rem;
}
.logo {
  font-size: 2rem;
}
#hamburger-nav {
  display: none;
}
.hamburger-menu {
  position: relative;
  display: inline-block;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}
.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  width: fit-content;
}
.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links li {
  list-style: none;
}
.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}
/*section disign css*/
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}
/*section disign css*/

/*Profile section css*/
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}
.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}
.section__text__p1 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
.section__text__p2 {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.title {
  font-size: 3rem;
  text-align: center;
  font-family: "Train One", cursive;
}
#social-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}
.icon {
  cursor: pointer;
  height: 2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300s ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(12, 45, 230) 0.1rem solid;
}
.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

/*profile section css*/

/*About section css*/
.section-container {
  display: flex;
}

#about {
  position: relative;
}

.about-container {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-container,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.details-container {
  border: rgb(12, 45, 230) 0.1rem solid;
  border-radius: 2rem;
  padding: 1.5rem;
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}
/*About section css*/

/*Exprencee css*/
#experience {
  position: relative;
}

.experience-sub-title {
  color: rgba(85, 85, 85);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
  text-align: initial;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}
/*Exprencee css*/

/*Project css*/

#projects {
  position: relative;
}

.project-img {
  width: 100%;
  height: 100%;
}
/*Project css*/

/*Contact css*/
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display:flex;
  justify-content:space-around;
  border: 1px solid gray;
  border-radius: 10px;
}
.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0, 5rem;
  margin: 1rem;
}
/*Contact css*/

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}


.online:hover{
color: rgb(222, 9, 34);
width: 2rem;
height: 2rem;
border-radius: 50px;
border: 2px rgb(6, 236, 217) solid;
padding: 10px;
 text-decoration: none;
 text-decoration: none;

}

.a:hover{
color: rgb(246, 14, 14);
  width: 500px;
  border-radius: 50px;
  border: rgb(6, 236, 217) 2px solid;
  text-align: center;
  padding: 10px;
  margin: 2px 10px;
  cursor: pointer;
  font-family:'Courier New', Courier, monospace
}