html {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  perspective: 0.5px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
h2 {
  font-size: 30px;
  line-height: 150%;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0px 0px darkblue;
}
.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0.7);
  transform-style: inherit;
}
.slide:before {
  content: "";
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0.7);
}

.slide,
slide:before {
  background: 50% 50%;
  background-size: cover;
}

#title {
  background-image: url("https://picsum.photos/640/480");
  z-index: 2;
}

.header {
  text-align: center;
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background-color: rgba(240, 230, 220, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

p {
  font-size: 20px;
  color: black;
  line-height: 150%;
}

#slide1 {
  background-image: url("https://picsum.photos/960/540");
  transform: translateZ(-1px) scale(2);
}

img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(240, 230, 220, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  transform: translateZ(0.4px) scale(0.6) translateX(-104%) translateY(-100%)
    rotate(2deg);
}

img:last-of-type {
  transform: translateZ(0.4px) scale(0.6) translateX(-40%) translateY(-100%)
    rotate(-5deg);
}

.slide:nth-child(2n).title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n + 1).title {
  margin-left: 0;
  margin-right: auto;
}

#slide2 {
  background-image: url("https://picsum.photos/200/300");
  z-index: 2;
}

#slide3 {
  background-image: url("https://picsum.photos/960/540");
  transform: translateZ(-1px) scale(2);
}
